@charset "UTF-8";
@import "./reset.css";
@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

:root {
	--main-bg-color: ; 
}

html { 
	font-size: 100%; 
	text-align: center;
	scroll-behavior: smooth;
} 	

body {
	font-family: 'Pretendard-Medium';
	color: #666;
	font-weight: 400px;
	line-height: 1.5;
	letter-spacing: 0px;	
}

a:hover {
	color: inherit;
}

.flexc {
	display: flex;
	justify-content: center;
}

.flexa {
	display: flex;
	align-items: center;
}

.flexe {
	display: flex;
	justify-content: space-evenly;
}

.flexb {
	display: flex;
	justify-content: space-between;
}

.mt20 { margin-top: 20px; }
.mt30 {	margin-top: 30px; }
.mt50 {	margin-top: 50px; }
.ml20 {	margin-left: 20px; }

.title {
	font-size: 20px;
}

.boldul {
	font-weight: bold;
	text-decoration: underline;
}

/* header */

header {
	width: 100%;
	background-color: #fff;
	position: relative;
	z-index: 2;
}

#header-container {
	height: 80px;
	font-size: 1.1rem;
}

#logolink {
	height: 60px;
}

#logo {
	width: 50%;
	height: auto;
	filter: drop-shadow(2px 4px 2px gray);
}

header ul img {
	width: 25px;
}

#header-edumenu {
	width: 100%;
    height: 50px;
    position: absolute;
    top: 30px;
    background-color: #424242;
    transition: all 0.4s;
    color: #fff;
    z-index: 1;
}

#header-edumenu nav {
	width: 1200px;
}

#header-edumenu nav ul {
	height: 50px;
}

/* toparticle */

#toparticle {
    width: 100%;
    background-image: url(../images/index2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#top-container {
	height: 120px;
	color: #fff;	
}

#toparticle p {
	font-size: 50px;
	text-align: left;
	text-shadow: 2px 2px black;
}

#toparticle p span {
	background-color: #000;
	color: yellow; 
	text-shadow: 2px 2px white;
	text-shadow: none;
}

/* mainarticle */

#mainarticle {
	display: flex;
	justify-content: center;
	text-align: left;
	margin-top: 30px;
	font-size: 15px;
}

/* footer */

footer {
	width: 100%;
	background-color: #424242;
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

footer img {
	background-color: #424242;
	width: 350px;
	height: 60px;
}

#footer-container {
	color: #fff;
	font-size: 12px;
}

#footer-container div {
	margin: 20px 0;
	text-align: left;
}

#footer-container div:first-child {
	justify-content: flex-start;
}

@media (max-width: 1024px) {
	
	#toparticle p {
		font-size: 4vw;
	}	
}

@media (max-width: 992px) {
	.container {
    	max-width: 960px;
	}
}

@media (max-width: 768px) {
	
	#logo {
		width: 100%;
	}
	
	#top-container {
		height: 12vh;	
	}
	
	#mainarticle img {
		width: 90%;
		height: auto;
	}
	
	footer img {
		width: 100%;
		height: auto;
	}
	
}

@media (max-width: 576px) {
	.container {
    	max-width: 720px;
	}
}

@media (max-width: 480px) {
	
	.title {
		font-size: 3.5vw;
	}
	
	header ul {
		font-size: 3vw;
	}
	
	#header-edumenu {
		font-size: 3vw;
	}
	
	#toparticle p {
		font-size: 6vw;
	}
	
	#mainarticle {
    	font-size: 2.5vw;
	}
	
	#footer-container div {
		margin: 10px 0;
		width: 100%;
	}
}

