@charset "UTF-8";
@import "./common.css";

/* main */

#mainarticle {
    width: 100%;
    background-image: url(../images/index2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main-container {
	width: 1200px;
	height: 120px;
	color: #fff;	
}

#mainarticle p {
	font-size: 50px;
	text-align: left;
	text-shadow: 2px 2px black;
}

#mainarticle p span {
	background-color: #000;
	color: yellow; 
	text-shadow: 2px 2px white;
	text-shadow: none;
}

/* introduce */

#introducearticle {
    width: 100%;
    font-size: 15px;
}

#introduce-container {
	width: 1200px;
}

#introduce-topdiv, #introduce-bottomdiv {
	text-align: left;
}

#introduce-bottomdiv-left {
	width: 500px;
}

#introduce-bottomdiv-left p {
	width: fit-content;
}

.red {
	background-color: red;
	color: #fff;
	margin: 5px 0;
	padding: 0 5px;
}

.yellow {
	background-color: yellow;
	color: #000;
	margin: 5px 0;
	padding: 0 5px;
}

.green {
	background-color: green;
	color: #fff;
	margin: 5px 0;
	padding: 0 5px;
}
