@charset "UTF-8";
@import "./common.css";

/* introduce */

#introduce-bottomdiv-left p {
	width: fit-content;
}

.red {
	background-color: red;
	color: #fff;
	margin: 5px 0;
	padding: 0 5px;
}

.yellow {
	background-color: yellow;
	color: #000;
	margin: 5px 0;
	padding: 0 5px;
}

.green {
	background-color: green;
	color: #fff;
	margin: 5px 0;
	padding: 0 5px;
}

@media (max-width: 768px) {
	
	#introduce-bottomdiv div {
    	display: block;
	}
	
	#daumRoughmapContainer1664941648070 {
		margin-top: 20px;
	}
		
}

@media (max-width: 500px) {
	
	#introducearticle {
    	font-size: 2.5vw;
	}
	
	#daumRoughmapContainer1664941648070 {
		width: 100% !important;
	}
	
	#daumRoughmapContainer1664941648070 .wrap_map {
		height: 40vh !important;
	}
		
}