@charset "UTF-8";
@import "./reset.css";
@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

:root {
	--main-bg-color: ; 
}

html { 
	font-size: 18px; 
	text-align: center;
	scroll-behavior: smooth;
} 	

body {
	font-family: 'Pretendard-Medium';
	color: #666;
	font-weight: 400px;
	line-height: 1.5;
	letter-spacing: 0px;	
}

.flexc {
	display: flex;
	justify-content: center;
}

.flexa {
	display: flex;
	align-items: center;
}

.flexe {
	display: flex;
	justify-content: space-evenly;
}

.flexb {
	display: flex;
	justify-content: space-between;
}

.mt20 { margin-top: 20px; }
.mt30 {	margin-top: 30px; }
.mt50 {	margin-top: 50px; }
.ml20 {	margin-left: 20px; }

/* header */

header {
	width: 100%;
}

#header-container {
	width: 1200px;
	height: 80px;
	justify-content: space-between;
}

#logolink {
	height: 60px;
}

#logo {
	width: 350px;
	height: 60px;
}

header ul {
	width: 450px;
}

header ul img {
	width: 30px;
}

/* main */

#mainarticle {
    width: 100%;
    background-image: url(../images/index.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main-container {
	width: 1200px;
	height: 120px;
	color: #fff;	
}

#mainarticle p {
	font-size: 50px;
	text-align: left;
	text-shadow: 2px 2px black;
}

#mainarticle p span {
	background-color: #000;
	color: yellow; 
	text-shadow: 2px 2px white;
	text-shadow: none;
}

/* introduce */

#introducearticle {
    width: 100%;
    font-size: 15px;
}

#introduce-container {
	width: 1200px;
}

#introduce-topdiv, #introduce-bottomdiv {
	text-align: left;
}

.title {
	font-size: 20px;
}

#introduce-bottomdiv-left {
	width: 500px;
}

#introduce-bottomdiv-left p {
	width: fit-content;
}

.red {
	background-color: red;
	color: #fff;
	margin: 5px 0;
	padding: 0 5px;
}

.yellow {
	background-color: yellow;
	color: #000;
	margin: 5px 0;
	padding: 0 5px;
}

.green {
	background-color: green;
	color: #fff;
	margin: 5px 0;
	padding: 0 5px;
}

#introduce-bottomdiv-left a {
	font-weight: bold;
	text-decoration: underline;
}

/* footer */

footer {
	width: 100%;
	height: 120px;
	background-color: #424242;
}

footer img {
	background-color: #424242;
	width: 350px;
	height: 60px;
}

#footer-container {
	width: 1200px;
	color: #fff;
	font-size: 12px;
}

#footer-container div {
	flex-direction: column;
	text-align: left;
}