@charset "UTF-8";
@import "./common.css";

/* shuttle */

#login-container {
	width: 400px;
	border: 1px solid #666;
}

#loginform {
	flex-direction: column;
}

#loginform table {
	width: 90%;
	height: 100px;
	text-align: center;
	font-size: 15px;
}

#loginform table tr td {
	vertical-align: middle;
}

#loginform table input {
	width: 90%;
	border: 0;
	border-bottom: 1px solid #666;
}

#loginform table input:focus {
	outline: none;
	border-bottom: 2px solid #666;
}

#loginform button {
	width: 330px;
    height: 30px;
    border: none;
    background-color: #0067a3;
    color: white;
    margin-bottom: 20px;
}


@media (max-width: 480px) {
	
	#login-container {
		width: 80%;
	}	
	
	#loginform table {
		font-size: 2.5vw;
	}
	
	#loginform button {
		width: 80%;
	}
	
}