@charset "UTF-8";
@import "./common.css";

/* main */

#mainarticle {
    width: 100%;
    background-image: url(../images/index3.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main-container {
	width: 1200px;
	height: 120px;
	color: #fff;	
}

#mainarticle p {
	font-size: 50px;
	text-align: left;
	text-shadow: 2px 2px black;
}

#mainarticle p span {
	background-color: #000;
	color: yellow; 
	text-shadow: 2px 2px white;
	text-shadow: none;
}

/* shuttle */

#login-container {
	width: 400px;
	border: 1px solid #666;
}

#loginform {
	flex-direction: column;
}

#loginform table {
	width: 330px;
	height: 100px;
	text-align: center;
	font-size: 15px;
}

#loginform table tr td {
	vertical-align: middle;
}

#loginform table input {
	width: 250px;
	border: 0;
	border-bottom: 1px solid #666;
}

#loginform table input:focus {
	outline: none;
	border-bottom: 2px solid #666;
}

#loginform button {
	width: 330px;
    height: 30px;
    border: none;
    background-color: #0067a3;
    color: white;
    margin-bottom: 20px;
}

@media (max-width: 1024px) {
	
	#main-container {
		width: 90%;
	}
		
}