@charset "UTF-8";
@import "./common.css";

/* main */

#mainarticle {
    width: 100%;
    background-image: url(../images/index.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main-container {
	width: 1200px;
	height: 120px;
	color: #fff;	
}

#mainarticle p {
	font-size: 50px;
	text-align: left;
	text-shadow: 2px 2px black;
}

#mainarticle p span {
	background-color: #000;
	color: yellow; 
	text-shadow: 2px 2px white;
	text-shadow: none;
}

#gotop {
	position: fixed;
    width: 50px;
    height: 50px;
    right: 100px;
    bottom: 120px;
    background-color: #cccccc;
    font-size: 15px;
}

/* process */

#process-container {
	width: 1200px;
	text-align: left;
	font-size: 15px;
}

#process-container ul li {
	border: 2px solid #0067a3;
    padding: 3px 30px;
    border-radius: 7px;
}