@charset "UTF-8";
@import "./common.css";

#gotop {
	position: fixed;
    width: 50px;
    height: 50px;
    right: 100px;
    background-color: #cccccc;
    text-align: center;
}

/* process */

#process-container ul li {
	border: 2px solid #0067a3;
    padding: 3px 30px;
    border-radius: 7px;
}

.processimg {
	width: 600px;
	height: 360px;
}

.processlicense {
	width: 600px;
}

@media (max-width: 768px) {
	
	#gotop {
		right: 10px;
	}
	
	#process-container ul {
		display: block;
	}
	
	.processimg {
		width: 90%;
		height: auto;
	}
	
	.processlicense {
		width: 90%;
	}
		
}

@media (max-width: 480px) {
	
	#gotop {
		width: 40px;
		height: 40px;
	}
	
	#processarticle {
		font-size: 2.5vw;
	}

}
