@charset "UTF-8";
@import "./common.css";

/* shuttle */

#shuttle-container table {
	width: 1000px;
	height: 225px;
	text-align: center;
	border-collapse: collapse;
}

#shuttle-container table tr:first-child {
	background-color: #dddddd;
	border-top: 2px solid;
	border-bottom: 2px solid;
}

#shuttle-container table, #shuttle-container tr, #shuttle-container td {
	border: 1px solid #cccccc;
}

#shuttle-container table tr td {
	vertical-align: middle;
}

@media (max-width: 768px) {
	
	#shuttle-container table {
		width: 100%;
	}	
	
}