@charset "UTF-8";
@import "./common.css";

body::after{
    position:absolute; 
    width:0; 
    height:0; 
    overflow:hidden; 
    z-index:-99;
    
    content:url(images/index1.webp) url(images/index2.webp) url(images/index3.webp); 
    /* 필요한 이미지 소스들 미리 다운하는 곳, 처음 페이지 방문시 어색하게 이미지 전환이 되는걸 방지 */
}

/* main */

#mainarticle {
    width: 100%;
    background-image: url(../images/index.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: background-image 0.5s linear;
    transition: background-image 0.5s linear;
}

#main-container {
	width: 1200px;
	color: #fff;	
	justify-content: space-between;
}

#main-leftdiv {
	font-size: 40px;
	text-align: left;
	text-shadow: 2px 2px black;
}

#main-leftdiv p {
	opacity: 0%;
}

#main-leftdiv p:last-child {
	font-size: 50px;
}

#main-leftdiv p:last-child span {
	background-color: #000;
	color: yellow; 
	text-shadow: 2px 2px white;
	text-shadow: none;
}

#main-rightdiv {
	font-size: 25px;
	text-align: center;
	filter: drop-shadow(2px 4px 6px black);
}

.main-rightdivitem {
	width: 300px;
	height: 140px;
	margin: 15px;
	border: 3px solid #fff;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* main2 */

#main2article {
    width: 100%;
}

#main2-container {
	width: 1200px;
}

#main2-topdiv div {
	width: 150px;
	color: #000;
	border: 3px solid #000;
	border-radius: 8px;
	align-items: center;
	filter: drop-shadow(2px 4px 2px gray);
}

#main2-bottomdiv {
	height: 300px;
	align-items: center;
}

#main2-leftdiv, #main2-rightdiv {
	width: 600px;
	height: 250px;
}

#main2-leftdiv table {
	width: 600px;	
}

#main2-leftdiv table td:first-child {
	width: 20px;
}

#main2-leftdiv table td:nth-child(2) {
	width: 440px;
	text-align: left;
}

#main2-leftdiv table td:last-child {
	width: 140px;
}

#main2-rightdiv {
	flex-wrap: wrap;
}

#main2-rightdiv div {
	width: 250px;
	height: 100px;
	align-items: center;
	filter: brightness(100%) drop-shadow(2px 4px 6px black);
}

#main2-rightdiv div img{
	width: 100px;
	
}

#main2-rightdiv div:first-child {
	background-color: #F7E600;
	color: #3A1D1D;
}

#main2-rightdiv div:nth-child(2) {
	background-color: #f40000;
	color: #fff;
}

#main2-rightdiv div:nth-child(3) {
	background-color: #00c73c;
	color: #fff;
}

#main2-rightdiv div:last-child {
	font-size: 15px;
	background-color: #0067a3;
	color: #fff;
}

#main2-rightdiv div:last-child img{
	width: 70px;
}

@media (max-width: 1024px) {
	
	#main-container, #main2-container {
		width: 90%;
	}
	
	#main-leftdiv p {
		font-size: 35px;
	}
	
	#main-leftdiv p:last-child {
		font-size: 40px;
	}
	
	#main2-bottomdiv {
		display: block;
	}
	
	#main2-leftdiv, #main2-rightdiv {
		width: 100%;
		height: fit-content;
	}
	
	#main2-leftdiv table {
		width: 100%;
	}
	
	#main2-rightdiv {
		margin-top: 25px;
	}
	
	#main2-rightdiv div {
		width: 24%;
	}
	
	footer {
		margin-top: 30px;
	}
	
}